*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

/*------------MAIN------------*/

.container {
    width: 100%;
    max-width: 1300px;
    margin: 15px auto;
    text-align: center;
    border: 3px solid red;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.container__inner {
    margin: 3px;
    border: 3px solid black;

    flex-basis: 400px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container__inner:nth-child(2) {
    order: -1;
    flex-shrink: 5;
}

.container__inner:nth-child(1) {
    align-self: flex-end;
}

.container__inner:nth-child(5) {
    flex-grow: 1;
}

.container2 {
    display: flex;
}

.container2__inner:nth-child(2) {
    flex-shrink: 5;
}


.title {
    margin: 5px;
    border: 3px solid black;
    height: 300px;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    flex-wrap: wrap;
}

.title__inner {
    border: 3px solid red;
    background: pink;
    height: 5rem;

    width: 100%;

}









